/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1f2937;
   }
   body {
    font-family: Arial, Helvetica, sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1f2937;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
    padding: 5px 200px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li {
    padding: 5px 14px;
   }
 