:root {
    --darkBackgroundColor:#1f2937;
    --heroMainText:#f9faf8;
    --heroSecondaryText:#e5e7eb;
    --headerLogoText: #f9faf8;

  }

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--darkBackgroundColor);
   }
   body {
    font-family: Arial, Helvetica, sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
    color: var(--heroSecondaryText);
    font-size: 18px;
   }

   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--darkBackgroundColor);
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    color:var(--headerLogoText);
    font-size: 32px;
    padding: 5px 80px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li {
    padding: 5px 14px;
   }

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
   
.hero .hero-h1{
    font-size: 48px;
    font-weight: bold;
    color:var(--headerLogoText);
}

.hero .hero-secondary{
        font-size: 18px;
        color:var(--heroSecondaryText);
    }

.hero-image img {
    width: 500px;
    height: 250px;
    padding-left: 50px;
}

.footer {
    padding-bottom: 50px;
}
 
.footer p {
    color: white;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .col{
    flex: 1;
    background-color: white;
    height: 250px;
    width: 250px;
    padding: 0px;
  }



  .quote {
    padding:80px 22%;
    background: url(images/pexels-aleksandar-pasaric-6560708.jpg) no-repeat center center fixed;
    background-size: cover;
    font-size: 36px;
    font-weight:bold;
    color:var(--heroSecondaryText);
    text-align: center;
}

.signup-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    padding:36px;
    background-color: #727272;
    border-radius: 5px;
    margin:100px auto;
    color: #f9faf8;
    flex-flow: row wrap;
    
}

button {
    background-color:var(--darkBackgroundColor);
    flex:0 1 auto;
    width:100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color:#f9faf8;
    font-weight: bold;
    padding-bottom: 2px;
}

.sign-up-section button {
    border: 2px solid #727272;
}

button:hover {
    background-color: #4e4e4e;
    color: var(--heroSecondaryText);
}

.sign-up-section p {
    margin:0px;
}

.small {
    font-size: 18px;
    background-color: #727272;
}

  @media (max-width: 400px) {
    .flex-grid {
      display: block;
    }
  }