:root {
    --darkBackgroundColor:#1f2937;
    --heroMainText:#f9faf8;
    --heroSecondaryText:#e5e7eb;
    --headerLogoText: #f9faf8;

  }

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--darkBackgroundColor);
   }
   body {
    font-family: Arial, Helvetica, sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
    color: var(--heroSecondaryText);
    font-size: 18px;
   }

   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--darkBackgroundColor);
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    color:var(--headerLogoText);
    font-size: 32px;
    padding: 5px 200px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li {
    padding: 5px 14px;
   }

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
   
.hero .hero-h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero .hero-secondary{
        font-size: 18px;
        color:var(--heroSecondaryText);
    }

.hero-image img {
    width: 500px;
    height: 250px;
}
 